{
	"nick":			"gitinfo",
	"altnick_prefix":	"gitinfo_",		// temp nick used when primary nick is taken
	"altnick_length":	3,			// length of temp nick suffix
	"nick_pwd":		"hackme",		// for identifying with nickserv (required)
	"channel":		"#git",			// channel(s) to join after things have been initialized; may be an array
	"replies_public":	true,			// optional; echo command status to channel it was performed in?
	"username":		"gitinfo",
	"realname":		"#git info bot, run by jast",
	"local_addr":		"",			// optional
	"server":		"chat.freenode.net",
	"server_port":		6667,			// optional
	"server_password":	""			// optional; password to use when connecting to restricted servers(or bouncers)
	"ipv6":			false,			// optional

	"superadmin":		"jast",			// magically authorized to do everything
	"db_file":		"gitinfo.sqlite",	// created automatically
	"control_enabled":	true,			// remote control server
	"control_addr":		"",			// optional
	"control_port":		11111,
	"control_ipv6":		false,			// optional
	"control_pwd":		"hackme",		// used by control clients to authenticate
	"http_loginurl":	"http://example.org/login.php?id=", // Login URL for users (code is appended automatically). Web part is not included!
	"http_sessionexpire":	900,			// after which time to notify web users that their session expired (and remove the session)
	"http_sessionpurge":	3600,			// after which time to forget that a web session existed at all

	"autoload_plugins":	[],
	"hardcore_ignore":	false,			// completely ignore people who have the no_react priv

	"templink_baseurl":	"http://example.org/",	// base URL for links generated by the templink plugin (required if that plugin is used)

	"voice_channel":	"#git",			// channel which the "voice" command targets (required if the voice plugin is used)
	"version_channel":	"#git",			// channel in which the "version" command can update the git version number in the topic
	"git_repo":		"gitsrc/.git"		// dir containing a local up-to-date clone of git (to get version info from)
}
